body{
    /* text-align: center; */
    background-image: url('');
}
.list{
    color:black;
    /* font-weight: 900; */
    font-size: 25px;
}
.queue{
    padding: 60px 220px;
}
.queue1 li{
    left: 10px;
}
a{
    text-decoration: none;
    color: black;
}